{% extends 'base.html' %}
{% block title %} Chat Room {% endblock title %}
{% block content %}

 <div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">{{ uuid }}</h1>
    </div>
<br>

<div id="chat-log" class="border border-3" style="height: 600px;
      overflow: auto;
width:600px;" >

{% if messages %}
  {% for message in messages %}
  <p>{{ message.author }}: {{ message.content }}</p>
  {% endfor %}
{% endif %}

</div>

<br>
<input id="chat-message-input" type="text" size="60" placeholder="type message">
<br>
<br>

<input id="chat-message-submit" type="button" value="Send">

<script>
     var block=document.getElementById('chat-log')
        block.scrollTop=block.scrollHeight

base_url =  'ws://' + window.location.hostname + ':' + window.location.port + '/ws/open_chat/' + "{{ uuid }}" + '/';

chatSocket = new WebSocket(base_url);

chatSocket.onmessage = function(event){
    let parsed = JSON.parse(event.data);
    document.querySelector('#chat-log').innerHTML += '<p>' + parsed.message + '</p>';
}

document.querySelector('#chat-message-submit').onclick = function(e) {
    const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
        'message': message
        }));
    messageInputDom.value = '';
    };

</script>

{% endblock content %}