{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}

    <div class="p-10 lg:p-20 text-center">
    <h1 >Home Page</h1>
</div>

    {% if user.is_authenticated %}
      <h2 class=" text-center display-4 flex items-center justify-between px-4 py-6 bg-teal-800">Hello {{ user }}. Welcome</h2>
<div class="text-center"> <a class=" text-center  btn btn-success" href="{% url 'new_group' %}" >New group</a></div>


    <ul>
      {% for group in groups %}
      <div class="btn btn-light"  id="{{ group.uuid }}">

        <li ><a >{{ group.uuid }}</a></li>
           {% if request.user in group.members.all %}
             <a class=" btn btn-secondary" href="{% url 'open_chat' uuid=group.uuid %}">Open</a>
             <a class=" btn btn-secondary" href="{% url 'leave_group' uuid=group.uuid %}">Leave</a>
             <a class=" btn btn-secondary" href="{% url 'remove_group' uuid=group.uuid %}">Delete</a>
            {% else %}
             <a  class=" btn btn-secondary" href="{% url 'join_group' uuid=group.uuid %}">Join</a>
            {% endif %}

       </div>
       {% endfor %}

     </ul>

    {% else %}
      <h2>Hmm, you must login or register.</h2><a href="{% url 'login' %}" class="btn btn-secondary">Log in</a> OR <a href="{% url 'signup' %}" class="btn btn-info">Sign up</a>
    {% endif %}

{% endblock content %}
    